body{
    background-color: rgb(189, 22, 22);
}
#header{
    height: 80px;
    background-color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{
    display: inline;
}
h4{
    display: inline;
}
#header-span{
    position: absolute;
}
#donor-form{
    height: 500px;
    width: 500px;
    background-color: white;
    margin: 20px;
    font-size: 17px;
}